= render 'families/family_selector'
= render 'families/family_actions'

.row
  .col-md-10
    %table.table.table-striped
      %thead
        %tr
          %th{ width: 50}
            Preview
          %th
            Name
          %th{width: '5em'}
            Actions

      %tbody
        - @albums.each do |album|
          = render album



  .col-md-2
    %a.btn.btn-success.btn-sm{href:'#', "data-target" => "#create-album-modal", "data-toggle" => "modal", style: 'margin-top: 1em'}
      New Album

    .modal.fade{id: "create-album-modal", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", type: "button"} ×
            %h4.modal-title
              = "Create Album"
          = form_for [current_family, Album.new], html: {role: "form"} do |f|
            .modal-body
              .form-group
                = f.label :name
                = f.text_field :name, class: 'form-control'

            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              = f.submit "Create", class: 'btn btn-primary'