.col-md-4
  .panel.panel-default
    .panel-body.text-center
      %a{href: '#', "data-target" => "#view-photo-modal-#{photo.id}", "data-toggle" => "modal"}
        = image_tag photo.cached_thumb_url, height: 200, width: 200
      .modal.fade{id: "view-photo-modal-#{photo.id}", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", type: "button"} ×
              %h4
            .modal-body
              %a{href: photo.cached_image_url}
                = image_tag photo.cached_image_url, style: "max-width: 100%"
            .modal-footer.text-center
              = photo.description


    .panel-footer
      = photo.description
      .actions.pull-right


        %a.download-photo{href: photo.image.url(query: {"response-content-disposition" => "attachment"})}
          %span.glyphicon.glyphicon-cloud-download
        %a{href:'#', "data-target" => "#edit-photo-modal-#{photo.id}", "data-toggle" => "modal"}
          %span.glyphicon.glyphicon-edit
        = link_to [current_family, current_album, photo], method: :delete, data: { confirm: "Really?"} do
          %span.glyphicon.glyphicon-trash

      .modal.fade{id: "edit-photo-modal-#{photo.id}", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", type: "button"} ×
              %h4.modal-title
                = "Edit Photo #{photo.id}"
            = form_for [current_family, current_album, photo] do |f|
              .modal-body
                = f.label :description
                = f.text_area :description


              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                = f.submit "Save changes", class: 'btn btn-primary'
